{% extends 'base.html.twig' %}
{% block title %} {{ titulo }} {% endblock %}
{% block body %} 
    <h1>{{ titulo }}</h1>
    <a href="{{ path('producao_leite_cadastrar') }}" class="btn btn-primary">Cadastrar Produção de Leite </a>
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>Animal</td>
                <td>Qtd Leite</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            {% for producao in producoes %}
                <tr>
                    <td>{{ producao.id }}</td>
                    <td>{{ producao.animal.descricao }}</td>
                    <td>{{ producao.qntdLeite }}</td>
                    <td>
                        <a href="#" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-primary">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}