{% extends 'base.html.twig' %}
{% block title %} {{ titulo }} {% endblock %}
{% block body %} 
    <h1>{{ titulo }}</h1>
    <p> {{ mensagem }} </p>
    <p>percorrendo arrays</p>

    <ul>
        {% for animal in animais %}
        <li>{{ animal.nome }}(kg {{ animal.peso }}) </li>
        {% endfor %}
    </ul>

{% endblock %}